@font-face {
    font-family: Neue;
    src: url(font/NeueMontreal-Regular.otf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neue";
}

html, body{
    width: 100%;
    height: 100%;
}

#slidephoto{
    position: absolute;
    width: 25vw;
    height: 30vw;
    background-color: aquamarine;
    z-index: 999;
    overflow: hidden;
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#slidephotos{
    width: 100%;
    height: 400%;
    display: flex;
    flex-direction: column;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.photu{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.photu:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1656231944351-1bdcbef1bc21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1524&q=80);
    background-size: cover;
    background-position: center;
}

.photu:nth-child(2){
    background-image: url(https://images.unsplash.com/photo-1656153816323-f3a8186cb239?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    background-position: center;
}

.photu:nth-child(3){
    background-image: url(https://images.unsplash.com/photo-1654859869130-fd0a2aa5539b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
    background-size: cover;
    background-position: center;
}

.photu:nth-child(4){
    background-image: url(https://images.unsplash.com/photo-1653426375933-d2bbd510ae3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80);
    background-size: cover;
    background-position: center;
}

#view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: blue;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;

}

#view h1{
    font-size: 0.5vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
    color: #FFFEFE;
}




#one{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    color: #080808;
}

#eff{
    margin-top: 5vw;
}

.stext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
}

.stext h1{
    font-size: 5vw;
    font-weight: 400;
}


.line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hrline{
    width: 80%;
    height: 1px;
    background-color: rgb(219, 219, 219);
    margin-top: 45px;
    margin-bottom: 45px;
}

#showm{
    display: flex;
    justify-content: center;
}

#btnsm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 5vw;
    border: 1px solid #333;
    border-radius: 50px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#btnsm h1{
    font-size: 1vw;
    color: rgb(165, 165, 165);
}

#btnsm h1 sup{
    color: rgb(158, 158, 158);
}
